@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


@media only screen and (max-width: 425px)
  {


* { margin: 0px;
	padding: 0px; }


body { background-color: #F0F2F5; }



.segment-icons { width: 28px;
					height: auto;
					padding: 11px;
					display: block;
					margin-left: auto;
					margin-right: auto;  }

.right-icons { display: none;
					 }

.small-icons { width: 16px;
				padding-top: 4px;
				float: right;
				 }

.user-profile { width: 30px;
					height: auto;
					margin: 10px;
					display: block;
					margin-left: auto;
					margin-right: auto;
					border-radius: 25px;
					box-shadow: 0px 0px 1px 1px red;
					 }

.creator-profile { width: 10%;
					margin-top: auto;
					margin-bottom: auto;
					border-radius: 20px;
				 }


#top-bar { width: 100%;
			height: 60px;
			background-color: white;
			box-shadow: 0px 2px 6px 1px #33333320;
	grid-template-columns: 1fr;
	z-index: +1;
	position: sticky;
	opacity: 98%;
	top: 0;
	transition: top 0.2s;
	
	 }



.top-bar-left { margin-right: 10px;
				margin-left: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
				
				}

.logo { display: none; }

.logo-long { height: 40px;
		padding: 10px 0px 10px 0px;
		display: block; }

.search-bar { 
				display: none; }

.top-search-icon { display: block;
					width: 20px;
					border-radius: 30px;
					padding: 10px;
				background-color: #F0F2F5;
				margin: 10px 0px 10px 70%;
				float: right; }


#slide-in-search-bar { width: 100%;
			height: 60px;
			background-color: white;
			box-shadow: 0px 2px 6px 1px #33333320;
			padding: 0px;
			display: grid;
			grid-template-columns: 4fr 1fr;
			z-index: +10;
			position: fixed;
			top: 0;
			display: none;
			animation-name: mob-search-bar-animation;
			animation-duration: 0.3s;
			animation-delay: 0s;
			animation-fill-mode: forwards;
	 }


@keyframes mob-search-bar-animation { 
0% { right: -440px; }

100% { right: 0px; }

 }


.search-bar-2 { text-decoration: none;
				display: block;
				font-family: poppins;
				color: #65676b;
				font-size: 14px;
				height: 30px;
				border-radius: 20px;
				border-width: 0px;
				padding: 5px 0px 5px 15px;
				background-color: #F0F2F5;
				margin: 10px 5% 10px 5%;
				width: 90%;
				float: left; }

.search-close-icon { display: block;
					width: 20px;
					border-radius: 30px;
					padding: 10px;
				background-color: #F0F2F5;
				margin: 10px 0px 10px 10px;
				 }


.top-bar-centre { display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: none; }

#segment-active {
				border-radius: 10px;
				width: 90%;
				height: 50px;
				margin: 5px 5% 5px 5%; }

#segment-bottom-bar { width: 40%;
						height: 4px;
						margin-top: 0px;
						background-color: blue;
						border-radius: 2px;
						background-color: red;
						display: block;
						margin-left: auto;
						margin-right: auto;
						 }

#segment-inactive { background-color: white;
				border-radius: 10px;
				width: 90%;
				height: 50px;
				margin: 5px 5% 5px 5%;
				cursor: pointer;
				transition-duration: 0.2s;
				z-index: +1; }

#segment-inactive:hover { background-color: #F0F2F5;
							transition-duration: 0.2s }


.top-bar-right { margin-left: 30%;
				margin-right: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	display: none; }






/*main { display: grid;*/
	/*grid-template-columns: 1fr 3fr; }*/


#left-part { padding: 40px 20px 20px 30px;
			background-color: white;
			box-shadow: 0px 2px 6px 1px #33333320;
			z-index: +10;
			height: 100%;
			overflow-x: hidden;
  			overflow-y: scroll;
 			 white-space: nowrap;
 			 position: fixed;
 			 width: 84%;
 			 display: none;
 			 margin-top: -60px;
 			 
			 }


#search-suggestions { padding: 20px 20px 20px 30px;
			background-color: white;
			box-shadow: 0px 2px 6px 1px #33333320;
			z-index: +1;
			height: 100%;
			overflow-x: hidden;
  			overflow-y: scroll;
 			 white-space: nowrap;
 			 position: fixed;
 			 width: 90%;
 			 display: none;
 			 animation-name: mob-search-bar-animation;
			animation-duration: 0.3s;
			animation-delay: 0s;
			animation-fill-mode: forwards;
			 }


.right-part { 	
				padding: 40px 15px 40px 15px;
				 }


#right-part-body { margin-top: 20px;
				display: grid;
				grid-template-columns: 1fr; }

.card1 { background-color: white;
			width: 100%;
			margin: 10px 0px 50px 0px;
			border-radius: 10px;
			box-shadow: 0px 2px 6px 1px #33333320;
			transition-duration: 0.1s; }

.card1:hover { box-shadow: 0px 1px 3px 0px #33333320;
				transition-duration: 0.1s; }

.thumbnail { background-color: white;
			width: 100%;
			height: auto;
			margin-top: -40px;
			border-radius: 10px 10px 0px 0px; }

.card-profile-img { width: 40px;
					height: 40px;
					border-radius: 20px;
					position: relative;
					margin: -60px 5px 0px 10px;
					box-shadow: 0px 0px 0px 2px #ffffff;

				 }


.card-segments { margin-top: 10px;
				display: grid;
				grid-template-columns: 1fr 6fr; }








.v-scroll-block {
	display: inline-block;
		overflow: visible;
		margin-bottom: 80px;
		margin-top: 30px;
}



.left-table { margin-top: 30px;
				margin-bottom: 40px;
				padding-top: 5px;
				width: 100%;
				table-layout: fixed;
				 }



























h1 { 
font-weight: 600;
color: #333333;
font-size: 26px; }

h2 { 
font-weight: 600;
color: #333333;
font-size: 17px;
line-height: 26px; }

.linked-text { font-family: poppins;
font-weight: 400;
color: red;
font-size: 14px;
line-height: 26px;
display: block; }

.card-title { 
font-weight: 600;
color: #333333;
font-size: 15px;
line-height: 22px;
margin: 10px 0px 10px 0px;
/*text-overflow: ellipsis;
white-space: nowrap;
  overflow: hidden;*/
 }

.card-subtitle { 
font-weight: 300;
color: #65676B;
font-size: 12px;
line-height: 16px;
margin: 0px 0px 6px 0px;
 }


 .card-text-box { margin: 10px 40px 15px 10px;
				width: 92%; }

.time-box {
			color: white;
			background-color: #00000090;
			margin-top: 10px;
			float: right;
			margin-left: 1%;
			margin-right: 15px;
			display: block;
			position: relative; 
			width: auto;
			
			font-size: 12px; 
			padding: 3px 6px 2px 6px;
			border-radius: 10px;}


#timerCanvas { position: absolute;
				opacity: 30%;
				margin-top: 0px; }

caption { 
font-weight: 300;
color: #65676B;
font-size: 16px;
text-align: left;
padding: 
 }


#left-tab-active { 
					color: #333333;
					font-size: 14px;
					font-weight: 500;
					padding: 12px 10px 12px 15px;
					margin: 1px 15px 1px -15px;
					background-color: #FFF3F3;
					width: 100%;
					border-radius: 10px;
					 }


#left-tab-inactive { 
					color: #333333;
					font-size: 14px;
					font-weight: 500;
					padding: 12px 10px 12px 15px;
					margin: 1px 15px 1px -15px;
					background-color: #ffffff;
					width: 100%;
					border-radius: 10px;
					cursor: pointer;
					 }

#left-tab-inactive:hover { background-color: #F0F2F5; }


#left-cell-inactive { 
					color: #333333;
					font-size: 14px;
					font-weight: 500;
					padding: 12px 10px 5px 15px;
					margin: 1px 15px 1px -15px;
					background-color: #ffffff;
					width: 100%;
					border-radius: 10px;
					cursor: pointer;
					width: 100%; display: block; line-height: 24px;
					 }

#left-cell-inactive:hover { background-color: #F0F2F5; }


.creator-names-left-tab { float: right;
							width: 84%;
							margin-top: 1%;
							display: block;
							line-height: 24px; }




.bottom-navigation { 
			position: sticky;
			bottom: 0px;
			width: 100%;
			height: 65px;
			background-color: white;
			box-shadow: 0px 2px 6px 1px #33333320;
			padding-top: 0px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			/*z-index: +1;*/
			opacity: 98%;
 }





}


